    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle job1"style="height:300px;margin-top: 80px;" >
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">About Us</h1>
          <!-- Breadcrumb row -->
          <div class="breadcrumb-row">
            <ul class="list-inline">
              <li><a href="#">Home</a></li>
              <li>About Us</li>
            </ul>
          </div>
          <!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
    <div class="content-block">
            <div class="section-full content-inner overlay-white-middle">
        <div class="container">
          <div class="row align-items-center m-b50">
            <div class="col-md-12 col-lg-6 m-b20">
              <h2 class="m-b5">About Us</h2>
              <h3 class="fw4">Jobs Corner</h3>
              <p class="m-b15">Jobs Corner is a great platform where you can find hundereds of jobs of your choice. Our main aim is to provide a platform where both employers and candidates can interact with eachother.You can get jobs in whatever field you want. Morover you can find perfect candidates for your task. Just post a new job from Jobs Corner platform and select the candidate of your choice.</p>
              <p class="m-b15">Make your free account at Jobs Corner to get a chance to interact with hundereds of different employers and employees.</p>
              <!-- <a href="#" class="site-button">Read More</a> -->
            </div>
            <div class="col-md-12 col-lg-6">
              <img class="img4" alt=""/>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 m-b30">
              <div class="icon-bx-wraper p-a30 center bg-gray radius-sm">
                <div class="icon-md text-primary m-b20"> <a href="#" class="icon-cell text-primary"><i class="fa fa-desktop"></i></a> </div>
                <div class="icon-content">
                  <h5 class="dlab-tilte text-uppercase">Elegant / Unique design</h5>
                  <p>Simple and Unique design made Jobs Corner extremly popular.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 m-b30">
              <div class="icon-bx-wraper p-a30 center bg-gray radius-sm">
                <div class="icon-md text-primary m-b20"> <a href="#" class="icon-cell text-primary"><i class="fa fa-image"></i></a> </div>
                <div class="icon-content">
                  <h5 class="dlab-tilte text-uppercase">Make it Simple</h5>
                  <p>You can use Jobs Corner platform without any hurdle.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 m-b30">
              <div class="icon-bx-wraper p-a30 center bg-gray radius-sm">
                <div class="icon-md text-primary m-b20"> <a href="#" class="icon-cell text-primary"><i class="fa fa-coffee"></i></a> </div>
                <div class="icon-content">
                  <h5 class="dlab-tilte text-uppercase">Different Layout Type</h5>
                  <p>Jobs Corner provides a diffferent and easy to use layout.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Why Chose Us -->
      <!-- Call To Action -->
      <!-- Call To Action END -->
      <!-- Our Latest Blog -->
      <!-- Our Latest Blog -->
        </div>
    <!-- contact area END -->
    </div>
    <!-- Content END-->