<div class="jumbotron" >
  <h1  class="display-4" align="center"><strong style="font-weight: bold;font-size: 50px;">Welcome To JOBS CORNER !</strong></h1>
  <div class="row">
    <div class="col-6">
            <p class="site-button button-sm">Find Jobs, Employment & Career Opportunities</p>
            <h2 style="font-weight: bold;font-size: 40px">Search Between More Than <br/> <span class="text-primary">50,000</span> Open Jobs.</h2>
    </div>
  </div>
  <% if !user_signed_in? %>
    <p class="lead" align="center">
      <%= link_to "Sign Up Now",new_user_registration_path,class: "site-button bg-primary btn-lg" %>
    </p>
  <% end %>
</div>

    <div class="section-full content-inner bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 section-head text-center">
            <h2 class="m-b5">Featured Cities</h2>
            <h6 class="fw4 m-b0">20+ Featured Cities Added Jobs</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
            <div class="city-bx align-items-end  d-flex city1">
              <div class="city-info">
                <h5>Iraq</h5>
                <span>765 Jobs</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
            <div class="city-bx align-items-end  d-flex city2">
              <div class="city-info">
                <h5>Argentina</h5>
                <span>352 Jobs</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
            <div class="city-bx align-items-end  d-flex city3">
              <div class="city-info">
                <h5>Indonesia</h5>
                <span>893 Jobs</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
            <div class="city-bx align-items-end  d-flex city4" >
              <div class="city-info">
                <h5>Gambia</h5>
                <span>502 Jobs</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
            <div class="city-bx align-items-end  d-flex city5">
              <div class="city-info">
                <h5>India</h5>
                <span>765 Jobs</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
            <div class="city-bx align-items-end  d-flex city6 " >
              <div class="city-info">
                <h5>Thailand</h5>
                <span>352 Jobs</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
            <div class="city-bx align-items-end  d-flex city7">
              <div class="city-info">
                <h5>Banjul</h5>
                <span>893 Jobs</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
            <div class="city-bx align-items-end  d-flex city8" >
              <div class="city-info">
                <h5>Spain</h5>
                <span>502 Jobs</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="section-full job-categories content-inner-2 bg-white">
      <div class="container">
        <div class="section-head d-flex head-counter clearfix">
          <div class="mr-auto">
            <h2 class="m-b5">Popular Categories</h2>
            <h6 class="fw3">20+ Catetories work wating for you</h6>
          </div>
          <div class="head-counter-bx">
            <h2 class="m-b5 counter">1800</h2>
            <h6 class="fw3">Jobs Posted</h6>
          </div>
          <div class="head-counter-bx">
            <h2 class="m-b5 counter">4500</h2>
            <h6 class="fw3">Tasks Posted</h6>
          </div>
          <div class="head-counter-bx">
            <h2 class="m-b5 counter">1500</h2>
            <h6 class="fw3">Freelancers</h6>
          </div>
        </div>
        <div class="row sp20">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="icon-bx-wraper">
              <div class="icon-content">
                <div class="icon-md text-primary m-b20"><i class="fa fa-map-marker"></i></div>
                <a href="#" class="dez-tilte">Design, Art & Multimedia</a>
                <p class="m-a0">198 Open Positions</p>
                <div class="rotate-icon"><i class="fa fa-map-marker"></i></div> 
              </div>
            </div>        
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="icon-bx-wraper">
              <div class="icon-content">
                <div class="icon-md text-primary m-b20"><i class="fa fa-university"></i></div>
                <a href="#" class="dez-tilte">Education Training</a>
                <p class="m-a0">198 Open Positions</p>
                <div class="rotate-icon"><i class="fa fa-university"></i></div> 
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="icon-bx-wraper">
              <div class="icon-content">
                <div class="icon-md text-primary m-b20"><i class="fa fa-btc"></i></div>
                <a href="#" class="dez-tilte">Accounting / Finance</a>
                <p class="m-a0">198 Open Positions</p>
                <div class="rotate-icon"><i class="fa fa-btc"></i></div> 
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="icon-bx-wraper">
              <div class="icon-content">
                <div class="icon-md text-primary m-b20"><i class="fa fa-users"></i></div>
                <a href="#" class="dez-tilte">Human Resource</a>
                <p class="m-a0">198 Open Positions</p>
                <div class="rotate-icon"><i class="fa fa-users"></i></div> 
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="icon-bx-wraper">
              <div class="icon-content">
                <div class="icon-md text-primary m-b20"><i class="fa fa-mobile"></i></div>
                <a href="#" class="dez-tilte">Telecommunications</a>
                <p class="m-a0">198 Open Positions</p>
                <div class="rotate-icon"><i class="fa fa-mobile"></i></div> 
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="icon-bx-wraper">
              <div class="icon-content">
                <div class="icon-md text-primary m-b20"><i class="fa fa-cutlery"></i></div>
                <a href="#" class="dez-tilte">Restaurant / Food Service</a>
                <p class="m-a0">198 Open Positions</p>
                <div class="rotate-icon"><i class="fa fa-cutlery"></i></div> 
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="icon-bx-wraper">
              <div class="icon-content">
                <div class="icon-md text-primary m-b20"><i class="fa fa-home"></i></div>
                <a href="#" class="dez-tilte">Construction / Facilities</a>
                <p class="m-a0">198 Open Positions</p>
                <div class="rotate-icon"><i class="fa fa-home"></i></div> 
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="icon-bx-wraper">
              <div class="icon-content">
                <div class="icon-md text-primary m-b20"><i class="fa fa-heartbeat"></i></div>
                <a href="#" class="dez-tilte">Health</a>
                <p class="m-a0">198 Open Positions</p>
                <div class="rotate-icon"><i class="fa fa-heartbeat"></i></div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>







